* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
  }
  
  .topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #32353f;
    overflow: hidden;
    z-index: 3;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #82889c;
    color: black;
  }
  
  .welcome {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .welcome h1 {
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: transparent;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    z-index: 1;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .aboutme {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #32353f;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .aboutme p {
    position: relative;
    text-align: left;
    font-size: 30px;
    color: white;
    background-color: #32353f;
    line-height: 2;
    padding-left: 20px;
  }

  .aboutme h2 {
    position: relative;
    text-align: left;
    color: white;
    background-color: #32353f;
    font-size: 50px;
    padding-left: 20px;
  }

  .image {
    position: relative;
    background-color: #32353f;
    width: 600px;
    height: 545px;
    padding-left: 20px;
  }

  .contactme {
    padding-top: 20px;
    align-items: center; 
    justify-content: center;
    background-color: white;
    overflow: hidden;
  }

  .contactme h2 {
    position: relative;
    text-align: center;
    background-color: white;
    font-size: 80px;   
  }

  .contactme h3 {
    text-align: left;
    background-color: white;
    font-size: 70px;
    padding-left: 10px;
  }

  .contactme button {
    text-align: left;
    font-weight: bold;
    background-color: white;
    border: transparent;
    cursor: pointer;
    padding-left: 10px;
    font-size: 40px;
  }

  .contactme button:hover {
    color: #a9b1cd;
  }

  .contactme button:active {
    color: #82889c;
  }

  .GitHubIcon {
    width: 120px;
    height: auto;
    padding-left: 5px;
    padding-top: 8px;
  }

  .LinkedInIcon {
    width: 120px;
    height: auto;
    padding-left: 12px;
    padding-top: 8px;
  }
